/* font style */


.header{
    background-color: #acd3c8;
    height: 560px;
    width: 1280px;
    border-radius: 24px;
    margin: auto;
}


/* shared style */
.btn-primary{
    background-color: #006A50;
    width: 270px;
    height: 56px;
}
.peragraph{
    font-size: 16px;
    
}




/* cover styles */
.cover .container{
    display: flex;
    justify-content: space-between;
    margin: 0px 60px 0px 60px;
    
}
.cover-content{
    max-width: 622px;
    
}
/* .container{
    background-color: #acd3c8;
    height: 560px;
    width: 1280px;
    border-radius: 24px;
    margin: auto; */
    

    
}
.cover-greetings{
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
}
.cover-title{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}
.image{
    height: 400px;
    width: 474.03px;
}


/* card-box */
#card-box{
    width: 1280px;
    height: 765px;
    margin: auto;
}
.card-container{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.card-box-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.card-container-item1{
    background-color: #5490F5;
    width: 410.67px;
    height: 325;
    border-radius: 24px;
    padding: 24px;
}
.card-container-item2{
    background-color: #C6E4D6;
    width: 410.67px;
    height: 325;
    border-radius: 24px;
    padding: 24px;
}
.card-container-item3{
    background-color: #F7EBCF;
    width: 410.67px;
    height: 325;
    border-radius: 24px;
    padding: 24px;
}

/* quote */

.yunus-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Yunus{
    background-color: #f8f7f7;
    margin-top: 32px;
    align-items: center;
    border-radius: 24px;
    padding: 48px 24px 48px 24px;
}
.quote{
    max-width: 64px;
    padding: 9px;
}
    